body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(249, 249, 249);
    color: rgb(51, 51, 51);
    line-height: 1.6;
}

hr {
    border: 1px solid rgb(221, 221, 221);
    margin: 20px 0;
}

.header {
    background-color: rgb(76, 175, 80);
    color: rgb(255, 255, 255);
    padding: 20px 0;
}

#header h1 {
    font-size: 40px;
    margin: 0;
}

#introduction {
    font-size: 19.2px;
    margin: 10px 0 0;
}

#about-me {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about-me h2 {
    color: rgb(76, 175, 80);
    font-size: 32px;
}

#profile-pic {
    border-radius: 50%;
    margin-top: 10px;
}

#skills {
    padding: 20px;
    background-color: rgb(240, 240, 240);
}

#skills h2 {
    color: rgb(76, 175, 80);
}

.skills-list {
    list-style-type: disc;
    padding-left: 40px;
}

.skills-list li {
    margin-bottom: 10px;
}

#qualifications {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#qualifications h2 {
    color: rgb(76, 175, 80);
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(76, 175, 80);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    margin-top: 10px;
}

.btn:hover {
    background-color: rgb(69, 160, 73);
}

#certifications {
    padding: 20px;
    background-color: rgb(240, 240, 240);
}

#certifications h2 {
    color: rgb(76, 175, 80);
}

#social-profiles {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#social-profiles h2 {
    color: rgb(76, 175, 80);
}

#social-profiles .btn {
    margin: 10px;
}

#contact {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact h2 {
    color: rgb(76, 175, 80);
}

.form {
    max-width: 600px;
    margin: auto;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}

.form-input:focus {
    border-color: rgb(76, 175, 80);
    outline: none;
}

.form button {
    background-color: rgb(76, 175, 80);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form button:hover {
    background-color: rgb(69, 160, 73);
}